<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kevinmaher.x14328981.happy">

    <!--<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"> <!-- AppTheme.Launcher for splash screen -->

        <activity
            android:name=".ChatActivity"
            android:label="@string/text_chat_title" />
        <!-- <activity -->
        <!-- android:name=".Frag1Activity" -->
        <!-- android:label="@string/text_title_frag_1" /> -->
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".UpdateActivity"
            android:label="@string/text_log_heading" />
        <activity
            android:name=".SettingsActivity"
            android:label="@string/text_settings_title" />
    </application>

</manifest>